Repository vinaykumar-kayyur/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-mgmt.yml, .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-mgmt.yml: any of: dockers/docker-sonic-mgmt
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, src/sonic-build-hooks, files/build/versions
  .pipelines/OneBranch.PullRequest.yml: any file but: .github
  azure-pipelines.yml: any file but: .github

[Build][201811] Fix the stretch mirror removed issue
  build_debian.sh
  files/apt/sources.list
  files/image_config/apt/sources.list.d/debian_archive_trafficmanager_net_debian.list
  sonic-slave-stretch/Dockerfile
Due: .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[Build][201911] Fix the stretch/jessie mirror removed issue
  build_debian.sh
  dockers/docker-base-stretch/sources.list
  dockers/docker-base-stretch/sources.list.arm64
  dockers/docker-base-stretch/sources.list.armhf
  dockers/docker-base/sources.list
  files/apt/sources.list.amd64
  files/apt/sources.list.arm64
  files/apt/sources.list.armhf
  files/image_config/apt/sources.list.d/amd64/debian_archive_trafficmanager_net_debian.list
  files/image_config/apt/sources.list.d/arm64/debian_mirror_arm64.list
  files/image_config/apt/sources.list.d/armhf/debian_mirror_armhf.list
  sonic-slave-stretch/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Remove default mirrors
  sonic-slave-stretch/Dockerfile
Due: .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Remove default mirrors
  sonic-slave-stretch/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Add invert_polarity setting to 10G ports
  platform/broadcom/sonic-platform-modules-accton/as9716-32d/utils/pddf_post_driver_install.sh
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Fix mirror reference issue
  src/mpdecimal/Makefile
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

More fixes for unit test cases
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7800r3-48cqm2-lc.json
  src/sonic-config-engine/tests/sample_output/py2/buffer-arista7800r3a-36dm2-c36-lc.json
  src/sonic-config-engine/tests/sample_output/py2/buffer-nokia-ixr7250e-36x100g.json
  src/sonic-config-engine/tests/sample_output/py2/buffer-nokia-ixr7250e-36x400g.json
  src/sonic-config-engine/tests/sample_output/py2/qos-arista7800r3-48cqm2-lc.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7800r3-48cqm2-lc.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7800r3a-36dm2-c36-lc.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-arista7800r3a-36dm2-d36-lc.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-nokia-ixr7250e-36x100g.json
  src/sonic-config-engine/tests/sample_output/py3/buffer-nokia-ixr7250e-36x400g.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7800r3-48cqm2-lc.json
  src/sonic-config-engine/tests/test_j2files.py
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

more test fixes
  src/sonic-config-engine/tests/sample-arista-7800r3-48cqm2-lc-t2-minigraph.xml
  src/sonic-config-engine/tests/test_j2files.py
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Add ADMIN_OPTIONS options in UpgrateVersion pipeline
  .azure-pipelines/azure-pipelines-UpgrateVersion.yml
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Fix mirror reference issue
  src/hiredis/Makefile
  src/redis/Makefile
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Fix mirror reference issue
  src/hiredis/Makefile
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Provide proper configurations as its hardware design for AS9736-64D.
  device/accton/x86_64-accton_as9736_64d-r0/Accton-AS9736-64D-100G/port_config.ini
  device/accton/x86_64-accton_as9736_64d-r0/Accton-AS9736-64D/port_config.ini
  device/accton/x86_64-accton_as9736_64d-r0/platform.json
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

fix
  .azure-pipelines/azure-pipelines-UpgrateVersion.yml
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Disable k8s as default
  rules/config
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[action] Add PR body in cherry pick PR.
  .github/workflows/pr_cherrypick_prestep.yml
Due: none

Adjust warning threshold implementation according to latest definition from the hardware team
  platform/mellanox/mlnx-platform-api/sonic_platform/psu.py
  platform/mellanox/mlnx-platform-api/tests/test_psu.py
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Fix mirror reference issue
  src/iptables/Makefile
  src/kdump-tools/Makefile
  src/lm-sensors/Makefile
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

fix
  .github/workflows/automerge_scan.yml
Due: none

Fix indentation in default users template
  files/build_templates/default_users.json.j2
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Revert "[swss/syncd] remove dependency on interfaces-config.service (#13084) (#14341)"
  files/build_templates/per_namespace/swss.service.j2
  files/build_templates/per_namespace/syncd.service.j2
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Fix mirror reference issue
  files/apt/sources.list.arm64
  files/apt/sources.list.armhf
  files/image_config/apt/sources.list.d/arm64/debian_mirror_arm64.list
  files/image_config/apt/sources.list.d/armhf/debian_mirror_armhf.list
  sonic-slave-stretch/Dockerfile.j2
  src/lldpd/Makefile
Due: .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Add soc property sai_pfc_dlr_init_capability=0 to missing DNX SKUs
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-C36/1/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/0/j2p-a7800r3a-36d-36x400G.config.bcm
  device/arista/x86_64-arista_7800r3a_36d2_lc/Arista-7800R3A-36D2-D36/1/j2p-a7800r3a-36d-36x400G.config.bcm
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Config the debian mirrors for docker-ptf
  dockers/docker-ptf/Dockerfile.j2
  dockers/docker-ptf/no-check-valid-until
  dockers/docker-ptf/sources.list.amd64
  dockers/docker-ptf/sources.list.arm64
  dockers/docker-ptf/sources.list.armhf
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Update copyright
  platform/mellanox/mlnx-platform-api/sonic_platform/psu.py
  platform/mellanox/mlnx-platform-api/tests/test_psu.py
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

install bcrypt version 3.2.2
  files/build_templates/sonic_debian_extension.j2
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Delete basecpld_wdt.c
  platform/broadcom/sonic-platform-modules-cel/silverstone-v2/modules/basecpld_wdt.c
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Delete fpga_device.c
  platform/broadcom/sonic-platform-modules-cel/silverstone-v2/modules/fpga_device.c
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Delete fpga_i2c_ocores.c
  platform/broadcom/sonic-platform-modules-cel/silverstone-v2/modules/fpga_i2c_ocores.c
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Delete fpga_i2c_ocores.h
  platform/broadcom/sonic-platform-modules-cel/silverstone-v2/modules/fpga_i2c_ocores.h
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Delete fpga_i2c_ocores_no_polling.c
  platform/broadcom/sonic-platform-modules-cel/silverstone-v2/modules/fpga_i2c_ocores_no_polling.c
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Delete optoe_device.c
  platform/broadcom/sonic-platform-modules-cel/silverstone-v2/modules/optoe_device.c
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml
