Repository vinaykumar-kayyur/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-mgmt.yml, .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

.azure-pipelines/docker-sonic-mgmt.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
    always: true
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool: sonicbld
      steps:
      - checkout: none
      - bash: id
    - job: test
      pool: sonictest
      steps:
      - checkout: none
      - bash: id

.azure-pipelines/docker-sonic-slave.yml:
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if endswith(variables['Build.DefinitionName'], dist) }}:
        - template: /.azure-pipelines/docker-sonic-slave-template.yml@buildimage
          parameters:
            pool: sonicbld
            arch: amd64
  ...

.pipelines/OneBranch.PullRequest.yml:
  name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Build
    pool: sonic-image-builder-1ES
    variables:
      CACHE_MODE: rcache
      ${{ if eq(variables['Build.SourceBranchName'], '202012') }}:
  ...

azure-pipelines.yml:
  name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: null
    pool: sonicbld-armhf
    steps:
    - bash: 'df -h
  
        sudo find /nfs/dpkg_cache/ -name ''*.tgz'' -mtime +30 -type f -delete
  
        '

Change the CAK key length check in config plugin, macsec test profile changes
  dockers/docker-macsec/cli-plugin-tests/config_db.json
  dockers/docker-macsec/cli-plugin-tests/test_config_macsec.py
  dockers/docker-macsec/cli/config/plugins/macsec.py
  src/sonic-config-engine/tests/macsec_profile.json
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/macsec.json
  src/sonic-yang-models/yang-models/sonic-macsec.yang
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Update thermal.py
  platform/broadcom/sonic-platform-modules-cel/silverstone-v2/pddf/sonic_platform/thermal.py
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Update SDK/FW version to 4.6.1062/2012.1062
  platform/mellanox/fw.mk
  platform/mellanox/sdk.mk
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[202205] [Mellanox] Update hw-mgmt package to V.7.0020.4304
  platform/mellanox/hw-management.mk
  platform/mellanox/hw-management/0002-Disable-hw-mgmt-on-SimX-platforms.patch
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Fix the format in add_profile api
  dockers/docker-macsec/cli/config/plugins/macsec.py
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Fix NTP configuration template
  files/image_config/ntp/ntp.conf.j2
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Fix YANG model description and tests
  src/sonic-yang-models/tests/yang_model_tests/tests_config/ntp.json
  src/sonic-yang-models/yang-models/sonic-ntp.yang
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

reserve semgrep fix since it will casue show env command fail
  device/micas/x86_64-micas_m2-w6510-48v8c-r0/monitor.py
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

reserve semgrep fix since will cause show env command fail
  device/micas/x86_64-micas_m2-w6510-32c-r0/monitor.py
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

update platform files
  platform/centec-arm64/sonic-platform-modules-ragile/debian/control
  platform/centec-arm64/sonic-platform-modules-ragile/debian/platform-modules-ragile-ra-b6010-48gt4x-r.init
  platform/centec-arm64/sonic-platform-modules-ragile/debian/platform-modules-ragile-ra-b6010-48gt4x-r.install
  platform/centec-arm64/sonic-platform-modules-ragile/debian/platform-modules-ragile-ra-b6010-48gt4x-r.postinst
  platform/centec-arm64/sonic-platform-modules-ragile/debian/rules
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

remove optoe.c
  platform/centec-arm64/sonic-platform-modules-micas/common/modules/Makefile
  platform/centec-arm64/sonic-platform-modules-micas/common/modules/optoe.c
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Update pddf_fan_control_sensor_refresh.py
  platform/broadcom/sonic-platform-modules-cel/silverstone-v2/utils/pddf_fan_control_sensor_refresh.py
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[Mellanox] wait reset cause ready
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
  platform/mellanox/mlnx-platform-api/tests/test_chassis.py
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Update chassis.py
  platform/broadcom/sonic-platform-modules-cel/silverstone-v2/pddf/sonic_platform/chassis.py
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Update pddf_post_device_create.sh
  platform/broadcom/sonic-platform-modules-cel/silverstone-v2/scripts/pddf_post_device_create.sh
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-fpm-frr/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/host-image/versions-deb-bullseye
Due: .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Update SAI version to 2211.25.1.4
  platform/mellanox/mlnx-sai.mk
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Align NTP test according to fixed condition
  src/sonic-config-engine/tests/sample_output/py3/ntp.conf
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[action] Add code conflict detection for ms code.
  .github/workflows/ms_conflict_detect.yml
Due: none

[Mellanox] upgrade hw-management package to 7.0020.4304
  platform/mellanox/hw-management.mk
  platform/mellanox/hw-management/0002-Disable-hw-mgmt-on-SimX-platforms.patch
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Fix FW version tag
  platform/mellanox/fw.mk
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[action] Update workflow to parse pending automation PRs.
  .github/workflows/automerge.yml
  .github/workflows/automerge_scan.yml
  .github/workflows/pr_cherrypick_poststep.yml
  .github/workflows/pr_cherrypick_prestep.yml
Due: none

[action] Add workflow to detect code conflict between ms and sonic-net
  .github/workflows/ms_conflict_detect.yml
Due: none

fix
  .github/workflows/ms_conflict_detect.yml
Due: none

fix
  .github/workflows/automerge_scan.yml
Due: none

Fix SIMX VERSION
  platform/mellanox/fw.mk
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

change bfd to singlehop
  src/sonic-bgpcfgd/staticroutebfd/vars.py
  src/sonic-bgpcfgd/tests/test_static_rt_bfd.py
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-mgmt.yml: any of: dockers/docker-sonic-mgmt
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, src/sonic-build-hooks, files/build/versions
  .pipelines/OneBranch.PullRequest.yml: any file but: .github
  azure-pipelines.yml: any file but: .github
