Repository vinaykumar-kayyur/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

.azure-pipelines/docker-sonic-slave.yml:
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if endswith(variables['Build.DefinitionName'], dist) }}:
        - template: /.azure-pipelines/docker-sonic-slave-template.yml@buildimage
          parameters:
            pool: sonicbld
            arch: amd64
  ...

.pipelines/OneBranch.PullRequest.yml:
  name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Build
    pool: sonic-image-builder-1ES
    variables:
      CACHE_MODE: rcache
      ${{ if eq(variables['Build.SourceBranchName'], '202012') }}:
  ...

azure-pipelines.yml:
  steps:
    script: echo Hello world

Fix CVE-2022-37032 on FRR submodule
  src/sonic-frr/patch/0011-Ensure-ospf_apiclient_lsa_originate-cannot-accidently-write-into-stack.patch
  src/sonic-frr/patch/series
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

draft (#122)
  .github/codeql/codeql-config.yml
  .github/workflows/codeql-analysis.yml
Due: none

test
  install_sonic.py
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

fix
  .github/workflows/codeql-analysis.yml
Due: none

[ci/build]: Upgrade SONiC package versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-config-engine-buster/versions-deb-buster
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sonic-vs/versions-deb-buster
  files/build/versions/dockers/docker-syncd-bfn/versions-deb-buster
  files/build/versions/dockers/docker-syncd-centec-rpc/versions-deb-buster
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye-arm64
  files/build/versions/host-image/versions-deb-bullseye-armhf
Due: .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Pick up fixes and make up BRCM SAI version to 4.3.7.1-3
  files/build/versions/default/versions-web
  platform/broadcom/sai.mk
Due: .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Fix PR comments
  platform/broadcom/sonic-platform-modules-quanta/ix7-32x/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-quanta/ix7-bwde-32x/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-quanta/ix8-56x/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-quanta/ix8a-bwde-56x/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-quanta/ix8c-56x/sonic_platform/component.py
  platform/broadcom/sonic-platform-modules-quanta/ix9-32x/sonic_platform/component.py
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[sonic-pit] Add PIT(Platform Integration Test) feature, initial commit, with only framework and 2 test cases with 1 supportting platform.
  dockers/docker-pit/Dockerfile.j2
  dockers/docker-pit/critical_processes
  dockers/docker-pit/supervisord.conf
  rules/docker-pit.mk
  rules/sonic-pit.mk
  src/sonic-pit/LICENSE
  src/sonic-pit/README.md
  src/sonic-pit/doc/Firmware_upgrading_porting_guide.md
  src/sonic-pit/pit-sysdiag/README.md
  src/sonic-pit/pit-sysdiag/cases/fan_tc/config.json
  src/sonic-pit/pit-sysdiag/cases/psu_tc/config.json
  src/sonic-pit/pit-sysdiag/config/platform/x86_64-alibaba_as14-40d-cl-r0/case_config.json
  src/sonic-pit/pit-sysdiag/config/platform/x86_64-alibaba_as14-40d-cl-r0/platform_config.json
  src/sonic-pit/pit-sysdiag/src/banner.py
  src/sonic-pit/pit-sysdiag/src/errcode.py
  src/sonic-pit/pit-sysdiag/src/fan_tc.py
  src/sonic-pit/pit-sysdiag/src/function.py
  src/sonic-pit/pit-sysdiag/src/pit_util_common.py
  src/sonic-pit/pit-sysdiag/src/psu_tc.py
  src/sonic-pit/pit-sysdiag/src/sysdiag.py
  src/sonic-pit/pit-sysdiag/src/syslogger.py
  src/sonic-pit/pit-sysdiag/src/test_case.py
  src/sonic-pit/setup.py
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[FRR]Adding patch to fix enhanced capability turned on for interface
  src/sonic-frr/patch/0011-bgpd-enhanced-capability-is-always-turned-on-for-int.patch
  src/sonic-frr/patch/series
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Change Azure to sonic-net
  src/sonic-yang-models/yang-models/sonic-events-bgp.yang
  src/sonic-yang-models/yang-models/sonic-events-common.yang
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Add media_settings.json for 7800r3a_36d2
  device/arista/x86_64-arista_7800r3a_36d2_lc/media_settings.json
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Add package dependency
  rules/docker-dhcp-relay.mk
  sonic-slave-stretch/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[ci] Fix test job issue on checkout step
  .azure-pipelines/run-test-template.yml
  azure-pipelines.yml
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[SSH] Save remote address to environment variable for TACACS authorization.
  src/openssh/patch/0002-Save-remote-address-to-environment-variable-for-TACA.patch
  src/openssh/patch/series
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[TACACS] Send remote address in TACACS authorization.
  src/tacacs/nss/patch/series
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-broncos/versions-deb-bullseye
  files/build/versions/dockers/docker-orchagent/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-snmp/versions-deb-bullseye
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-syncd-brcm-dnx-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye-arm64
  files/build/versions/host-image/versions-deb-bullseye-armhf
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Add patch file
  src/tacacs/nss/patch/0010-Send-remote-address-in-TACACS-authorization-message.patch
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[action] Update automerge version, change log level and change auto cherry-pick branch name.
  .github/workflows/automerge.yml
  .github/workflows/pr_cherrypick_prestep.yml
Due: none

Fix the -inf value display issue
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Fix review comments
  platform/mellanox/docker-syncd-mlnx/ecmp_calculator/ecmp_calc_sdk.py
  platform/mellanox/docker-syncd-mlnx/lib/port_utils.py
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Add dhcp6relay dualtor option
  dockers/docker-dhcp-relay/dhcpv6-relay.agents.j2
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Fix syncd autorestart sequence
  files/build_templates/per_namespace/syncd.service.j2
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

fix show interface neighbor exp issue
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/test_multinpu_cfggen.py
  src/sonic-yang-models/yang-models/sonic-device_neighbor_metadata.yang
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Fix CVE-2022-37032 on FRR submodule
  src/sonic-frr/patch/0012-Ensure-ospf_apiclient_lsa_originate-cannot-accidently-write-into-stack.patch
  src/sonic-frr/patch/series
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Update patch version number
  src/sonic-frr/patch/0011-Ensure-ospf_apiclient_lsa_originate-cannot-accidently-write-into-stack.patch
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

LGTM error fix
  device/celestica/x86_64-cel_midstone-100x-r0/sonic_platform/sfp.py
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

return LOGLEVEL_DB for db_migrator
  dockers/docker-database/database_config.json.j2
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[sonic-slave]: Add gmock for sonic-swss-common tests (#8950)
  sonic-slave-buster/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

revise the comments for function get_rx_los and get_tx_fault
  platform/mellanox/mlnx-platform-api/sonic_platform/sfp.py
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Update libswsscommon deps
  sonic-slave-bullseye/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Update dhcpv6-relay.agents.j2
  dockers/docker-dhcp-relay/dhcpv6-relay.agents.j2
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

change use 202205 branch swss for warm reboot issue test
  .gitmodules
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, src/sonic-build-hooks, files/build/versions
  .pipelines/OneBranch.PullRequest.yml: any file but: .github
  azure-pipelines.yml: any file but: .github
