Repository vinaykumar-kayyur/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

.azure-pipelines/docker-sonic-slave.yml:
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if endswith(variables['Build.DefinitionName'], dist) }}:
        - template: /.azure-pipelines/docker-sonic-slave-template.yml@buildimage
          parameters:
            pool: sonicbld
            arch: amd64
  ...

.pipelines/OneBranch.PullRequest.yml:
  name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Build
    pool: sonic-image-builder-1ES
    variables:
      CACHE_MODE: rcache
      ${{ if eq(variables['Build.SourceBranchName'], '202012') }}:
  ...

azure-pipelines.yml:
  steps:
    script: echo Hello world

[Edgecore][platform][as7726-32x] Add thermal threshold configuration.
  platform/broadcom/sonic-platform-modules-accton/as7726-32x/sonic_platform/helper.py
  platform/broadcom/sonic-platform-modules-accton/as7726-32x/sonic_platform/thermal.py
  platform/broadcom/sonic-platform-modules-accton/as7726-32x/utils/accton_as7726_32x_util.py
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-snmp/versions-py3-all-armhf
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
Due: .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-bullseye/versions-web
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/default/versions-git
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-saiserverv2-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-snmp/versions-py3-all-armhf
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mrvl/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
Due: .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-py3
  files/build/versions/dockers/docker-snmp/versions-py3-all-armhf
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-bullseye
Due: .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-config-engine-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-broncos/versions-deb-bullseye
  files/build/versions/dockers/docker-orchagent/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-snmp/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-dnx-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-rpc/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/host-base-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye
Due: .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-git
  files/build/versions/default/versions-git
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/host-base-image/versions-deb-bullseye
  files/build/versions/host-image/versions-deb-bullseye
Due: .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[Build][Test] Support snapshot debian mirror
  scripts/build_mirror_config.sh
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Change to use http
  scripts/build_mirror_config.sh
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[build] fix CI warnings issued by "git describe"
  functions.sh
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[build] create a clean_docker_images profile
  Makefile
  scripts/clean_docker_images.sh
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Update rules.mk
  platform/broadcom/rules.mk
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Fix typo in containercfgd
  src/sonic-containercfgd/containercfgd/containercfgd.py
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

fix internal review comments
  platform/mellanox/mlnx-platform-api/sonic_platform/utils.py
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Test1
  scripts/build_mirror_config.sh
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Test2
  scripts/build_mirror_config.sh
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

fix
  slave.mk
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Support port name in ACL table AttachTo attribute
  src/sonic-config-engine/minigraph.py
  src/sonic-config-engine/tests/simple-sample-graph-case.xml
  src/sonic-config-engine/tests/test_minigraph_case.py
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[action] Keep 'request for xxx branch' label when finished auto-cherry-pick.
  .github/workflows/pr_cherrypick_poststep.yml
Due: none

fix url issue
  scripts/build_mirror_config.sh
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Fix dhcp-relay and macsec dockers not being marked as local packages
  slave.mk
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Save dockers to disk with latest tag, not image tag
  slave.mk
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Add ending quotes for two strings in slave.mk
  slave.mk
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[Edgecore][device/accton] Fix subprocess.call issue in is_host().
  device/accton/x86_64-accton_as4630_54pe-r0/sonic_platform/helper.py
  device/accton/x86_64-accton_as4630_54te-r0/sonic_platform/helper.py
  device/accton/x86_64-accton_as5835_54x-r0/sonic_platform/helper.py
  device/accton/x86_64-accton_as7312_54x-r0/sonic_platform/helper.py
  device/accton/x86_64-accton_as7816_64x-r0/sonic_platform/helper.py
  device/accton/x86_64-accton_as9726_32d-r0/sonic_platform/helper.py
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

fix
  azure-pipelines.yml
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

remove dpkg lock
  slave.mk
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

skip hw reboot cause if warm/fast reboot found from the proc cmdline
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

add script to upload packages to web server
  scripts/populate_file_web_server.py
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[libteam]: Send LACP to notify peer upon removal of port from portchannel
  src/libteam/patch/0013-set-port-to-disabled-state-during-removal.patch
  src/libteam/patch/0014-make-sure-that-lacp-port-agg-update-works-with-correct.patch
  src/libteam/patch/series
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

fix typo
  platform/mellanox/mlnx-platform-api/sonic_platform/chassis.py
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[libteam]: Send LACP to notify peer upon removal of port from portchannel
  src/libteam/patch/0013-teamd-lacp-set-port-to-disabled-state-during-removal.patch
  src/libteam/patch/0014-teamd-lacp-make-sure-that-lacp_port_agg_update-works.patch
  src/libteam/patch/series
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, src/sonic-build-hooks, files/build/versions
  .pipelines/OneBranch.PullRequest.yml: any file but: .github
  azure-pipelines.yml: any file but: .github
