Repository vinaykumar-kayyur/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-mgmt.yml, .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

.azure-pipelines/docker-sonic-mgmt.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
    always: true
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool: sonicbld
      steps:
      - checkout: none
      - bash: id
    - job: test
      pool: sonictest
      steps:
      - checkout: none
      - bash: id

.azure-pipelines/docker-sonic-slave.yml:
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if endswith(variables['Build.DefinitionName'], dist) }}:
        - template: /.azure-pipelines/docker-sonic-slave-template.yml@buildimage
          parameters:
            pool: sonicbld
            arch: amd64
  ...

.pipelines/OneBranch.PullRequest.yml:
  name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Build
    pool: sonic-image-builder-1ES
    variables:
      CACHE_MODE: rcache
      ${{ if eq(variables['Build.SourceBranchName'], '202012') }}:
  ...

azure-pipelines.yml:
  name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: BuildVS
    pool: sonicbld
    jobs:
    - template: .azure-pipelines/azure-pipelines-build.yml
      parameters:
  ...

Add protobuf and dashapi to sonic-mgmt
  dockers/docker-sonic-mgmt/Dockerfile.j2
  rules/sonic-dash-api.mk
  slave.mk
Due: .azure-pipelines/docker-sonic-mgmt.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

add loopback0 as source interface in dualtor
  dockers/docker-dhcp-relay/dhcpv6-relay.agents.j2
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Remove the image clean code to split to another PR
  src/sonic-ctrmgrd/ctrmgr/ctrmgrd.py
  src/sonic-ctrmgrd/ctrmgr/kube_commands.py
  src/sonic-ctrmgrd/tests/kube_commands_test.py
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

add loopback0 as source interface in dual-tor
  dockers/docker-dhcp-relay/dhcpv6-relay.agents.j2
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Cover boot from ONIE case: set config init flag when minigraph, config_db are missing
  files/image_config/config-setup/config-setup
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Handle case: first boot of SONiC
  files/image_config/config-setup/config-setup
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Change to do the quilt pod before quilt push
  slave.mk
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-gbsyncd-credo/versions-deb-bullseye
  files/build/versions/dockers/docker-macsec/versions-deb-bullseye
  files/build/versions/dockers/docker-macsec/versions-py3
  files/build/versions/dockers/docker-platform-monitor/versions-py3
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-swss-layer-bullseye/versions-deb-bullseye
  files/build/versions/dockers/docker-swss-layer-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-arm64
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/host-image/versions-deb-bullseye
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[Build] Change the build option from ENABLE_FIPS_FEATURE to INCLUDE_FIPS
  Makefile.work
  rules/config
  rules/docker-base-bullseye.mk
  rules/sonic-fips.mk
  slave.mk
  sonic-slave-bullseye/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/default/versions-docker
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-gbsyncd-credo/versions-deb-bullseye
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
Due: .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[202205]Fix caclmgrd crash issue when applying scale cacl rules
  src/sonic-host-services/scripts/caclmgrd
  src/sonic-host-services/tests/caclmgrd/cacl_external_client_acl_test.py
  src/sonic-host-services/tests/caclmgrd/caclmgrd_scale_test.py
  src/sonic-host-services/tests/caclmgrd/test_scale_vectors.py
  src/sonic-host-services/tests/common/mock_configdb.py
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Fix the makedumpfile and hiredis source files not found issue
  src/hiredis/Makefile
  src/kdump-tools/Makefile
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[staticroutebfd] fix ipv6 letter case issue
  src/sonic-bgpcfgd/staticroutebfd/main.py
  src/sonic-bgpcfgd/tests/test_static_rt_bfd.py
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Change to use fips enable and enforce options
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/tests/yang_model_tests/tests/fips.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/fips.json
  src/sonic-yang-models/yang-models/sonic-fips.yang
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Handle RADIUS execl related code review comments.
  src/radius/nss/libnss-radius/nss_radius_common.c
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[monit][dualtor] Periodically check mux neighbors consistency
  files/image_config/monit/conf.d/sonic-host
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Refine comments and fix grep regex issue
  .azure-pipelines/template-skipvstest.yml
  files/build_templates/sonic_debian_extension.j2
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

RSyslog: Move defaults to Jinja2 template
  files/build_templates/init_cfg.json.j2
  files/image_config/rsyslog/rsyslog.conf.j2
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

DellEMC: System health config changes
  device/dell/x86_64-dellemc_s5248f_c3538-r0/system_health_monitoring_config.json
  device/dell/x86_64-dellemc_s5296f_c3538-r0/system_health_monitoring_config.json
  device/dell/x86_64-dellemc_z9264f_c3538-r0/system_health_monitoring_config.json
  platform/broadcom/sonic-platform-modules-dell/s5248f/sonic_platform/chassis.py
  platform/broadcom/sonic-platform-modules-dell/s5248f/sonic_platform/psu.py
  platform/broadcom/sonic-platform-modules-dell/s5296f/sonic_platform/chassis.py
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Container image clean up bug fix
  src/sonic-ctrmgrd/ctrmgr/ctrmgrd.py
  src/sonic-ctrmgrd/ctrmgr/kube_commands.py
  src/sonic-ctrmgrd/tests/kube_commands_test.py
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-mgmt.yml: any of: dockers/docker-sonic-mgmt
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, src/sonic-build-hooks, files/build/versions
  .pipelines/OneBranch.PullRequest.yml: any file but: .github
  azure-pipelines.yml: any file but: .github
