Repository vinaykumar-kayyur/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-mgmt.yml, .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

.azure-pipelines/docker-sonic-mgmt.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
    always: true
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool: sonicbld
      steps:
      - checkout: none
      - bash: id
    - job: test
      pool: sonictest
      steps:
      - checkout: none
      - bash: id

.azure-pipelines/docker-sonic-slave.yml:
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if endswith(variables['Build.DefinitionName'], dist) }}:
        - template: /.azure-pipelines/docker-sonic-slave-template.yml@buildimage
          parameters:
            pool: sonicbld
            arch: amd64
  ...

.pipelines/OneBranch.PullRequest.yml:
  name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Build
    pool: sonic-image-builder-1ES
    variables:
      CACHE_MODE: rcache
      ${{ if eq(variables['Build.SourceBranchName'], '202012') }}:
  ...

azure-pipelines.yml:
  name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: BuildVS
    pool: sonicbld
    jobs:
    - template: .azure-pipelines/azure-pipelines-build.yml
      parameters:
  ...

Remove unzip
  dockers/docker-sonic-mgmt/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-mgmt.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Move the master entrance script to /usr/bin
  files/build_templates/sonic_debian_extension.j2
  files/image_config/kubernetes/kubernetes_master_entrance.service
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[YANG][vlan-sub-interface] Add `vlan` field
  src/sonic-yang-models/tests/yang_model_tests/tests/vlan_sub_interface.json
  src/sonic-yang-models/tests/yang_model_tests/tests_config/vlan_sub_interface.json
  src/sonic-yang-models/yang-models/sonic-vlan-sub-interface.yang
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Fix typo
  src/sonic-yang-models/yang-models/sonic-vlan-sub-interface.yang
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Fix UT
  src/sonic-yang-models/tests/files/sample_config_db.json
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[202205] Update Broadcom DNX SAI to 7.1.54.4
  platform/broadcom/sai.mk
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Update WRED profile on system ports
  files/build_templates/qos_config.j2
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

fix for unit tests
  src/sonic-config-engine/tests/sample_output/py2/qos-arista7800r3-48cq2-lc.json
  src/sonic-config-engine/tests/sample_output/py2/qos-arista7800r3-48cqm2-lc.json
  src/sonic-config-engine/tests/sample_output/py2/qos-arista7800r3a-36dm2-c36-lc.json
  src/sonic-config-engine/tests/sample_output/py2/qos-arista7800r3a-36dm2-d36-lc.json
  src/sonic-config-engine/tests/sample_output/py2/qos-nokia-ixr7250e-36x100g.json
  src/sonic-config-engine/tests/sample_output/py2/qos-nokia-ixr7250e-36x400g.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7800r3-48cq2-lc.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7800r3-48cqm2-lc.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7800r3a-36dm2-c36-lc.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7800r3a-36dm2-d36-lc.json
  src/sonic-config-engine/tests/sample_output/py3/qos-nokia-ixr7250e-36x100g.json
  src/sonic-config-engine/tests/sample_output/py3/qos-nokia-ixr7250e-36x400g.json
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Fix for unit tests
  src/sonic-config-engine/tests/sample_output/py2/qos-arista7800r3-48cq2-lc.json
  src/sonic-config-engine/tests/sample_output/py2/qos-arista7800r3-48cqm2-lc.json
  src/sonic-config-engine/tests/sample_output/py2/qos-arista7800r3a-36dm2-d36-lc.json
  src/sonic-config-engine/tests/sample_output/py2/qos-nokia-ixr7250e-36x100g.json
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Fix for unit tests - 3
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7800r3-48cq2-lc.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7800r3-48cqm2-lc.json
  src/sonic-config-engine/tests/sample_output/py3/qos-arista7800r3a-36dm2-d36-lc.json
  src/sonic-config-engine/tests/sample_output/py3/qos-nokia-ixr7250e-36x100g.json
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Add support for deb build profiles env variable
  rules/sairedis.mk
  rules/swss-common.mk
  rules/syncd.mk
  slave.mk
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[Build] Fix the dash cache dependency issue
  rules/sonic-dash-api.dep
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Fix file not found issue
  rules/sonic-dash-api.dep
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-arm64
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-ptf-sai/versions-py3
  files/build/versions/dockers/docker-ptf/versions-py2
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

remove ethtool
  dockers/docker-platform-monitor/Dockerfile.j2
  rules/docker-platform-monitor.mk
  rules/ethtool.dep
  rules/ethtool.mk
  src/ethtool/Makefile
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

use eatmydata for sonic-slave
  sonic-slave-bullseye/Dockerfile.j2
  sonic-slave-buster/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-saiserverv2-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
Due: .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[Edgecore] [device] Adjust stable size of configuration file on as4630_54pe.
  device/accton/x86_64-accton_as4630_54pe-r0/Accton-AS4630-54PE/hx5-as4630-48x1G+4x25G+2x100G.bcm
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-mgmt.yml: any of: dockers/docker-sonic-mgmt
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, src/sonic-build-hooks, files/build/versions
  .pipelines/OneBranch.PullRequest.yml: any file but: .github
  azure-pipelines.yml: any file but: .github
