Repository vinaykumar-kayyur/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-mgmt.yml, .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

.azure-pipelines/docker-sonic-mgmt.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
    always: true
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool: sonicbld
      steps:
      - checkout: none
      - bash: id
    - job: test
      pool: sonictest
      steps:
      - checkout: none
      - bash: id

.azure-pipelines/docker-sonic-slave.yml:
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if endswith(variables['Build.DefinitionName'], dist) }}:
        - template: /.azure-pipelines/docker-sonic-slave-template.yml@buildimage
          parameters:
            pool: sonicbld
            arch: amd64
  ...

.pipelines/OneBranch.PullRequest.yml:
  name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Build
    pool: sonic-image-builder-1ES
    variables:
      CACHE_MODE: rcache
      ${{ if eq(variables['Build.SourceBranchName'], '202012') }}:
  ...

azure-pipelines.yml:
  name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: BuildVS
    pool: sonicbld
    jobs:
    - template: .azure-pipelines/azure-pipelines-build.yml
      parameters:
  ...

Fixing Merge Conflicts
  src/sonic-yang-models/doc/Configuration.md
  src/sonic-yang-models/tests/files/sample_config_db.json
  src/sonic-yang-models/yang-models/sonic-vlan.yang
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[build] Do not ignore well-known debian files
  .gitignore
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Remove lines of other tracking systems
  .github/pull_request_template.md
Due: none

Improve structure
  .github/pull_request_template.md
Due: none

Removing dhcpmon
  src/dhcpmon/.gitignore
  src/dhcpmon/Makefile
  src/dhcpmon/debian/changelog
  src/dhcpmon/debian/compat
  src/dhcpmon/debian/control
  src/dhcpmon/debian/rules
  src/dhcpmon/objects.mk
  src/dhcpmon/src/dhcp_device.cpp
  src/dhcpmon/src/dhcp_device.h
  src/dhcpmon/src/dhcp_devman.cpp
  src/dhcpmon/src/dhcp_devman.h
  src/dhcpmon/src/dhcp_mon.cpp
  src/dhcpmon/src/dhcp_mon.h
  src/dhcpmon/src/main.cpp
  src/dhcpmon/src/subdir.mk
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Update cisco-8000.ini
  platform/checkout/cisco-8000.ini
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions
  files/build/versions/build/build-sonic-slave-buster/versions-deb-buster-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-stretch/versions-git
Due: .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye-armhf
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/docker-database/versions-deb-bullseye
  files/build/versions/dockers/docker-dhcp-relay/versions-deb-bullseye
  files/build/versions/dockers/docker-eventd/versions-deb-bullseye
  files/build/versions/dockers/docker-fpm-frr/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-broncos/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-credo/versions-deb-bullseye
  files/build/versions/dockers/docker-gbsyncd-vs/versions-deb-bullseye
  files/build/versions/dockers/docker-lldp/versions-deb-bullseye
  files/build/versions/dockers/docker-macsec/versions-deb-bullseye
  files/build/versions/dockers/docker-mux/versions-deb-bullseye
  files/build/versions/dockers/docker-nat/versions-deb-buster
  files/build/versions/dockers/docker-orchagent/versions-deb-bullseye
  files/build/versions/dockers/docker-platform-monitor/versions-deb-bullseye
  files/build/versions/dockers/docker-router-advertiser/versions-deb-bullseye
  files/build/versions/dockers/docker-sflow/versions-deb-buster
  files/build/versions/dockers/docker-snmp/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-deb-buster
  files/build/versions/dockers/docker-sonic-telemetry/versions-deb-bullseye
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-brcm-dnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-brcm/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-centec/versions-deb-buster
  files/build/versions/dockers/docker-syncd-mlnx/versions-deb-bullseye
  files/build/versions/dockers/docker-syncd-vs/versions-deb-buster
  files/build/versions/dockers/docker-teamd/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-py3
  files/build/versions/build/build-sonic-slave-bullseye/versions-web
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/default/versions-git
  files/build/versions/default/versions-mirror
  files/build/versions/default/versions-web
  files/build/versions/dockers/docker-ptf/versions-deb-buster
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/docker-syncd-mrvl/versions-deb-bullseye-armhf
  files/build/versions/dockers/sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions
  files/build/versions/build/build-sonic-slave-buster/versions-git
  files/build/versions/build/build-sonic-slave-buster/versions-py2-all-armhf
  files/build/versions/build/build-sonic-slave-buster/versions-py3
  files/build/versions/build/build-sonic-slave-buster/versions-py3-all-armhf
  files/build/versions/default/versions-git
  files/build/versions/dockers/docker-sonic-mgmt-framework/versions-py3
  files/build/versions/dockers/docker-sonic-vs/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-deb-buster
  files/build/versions/dockers/sonic-slave-buster/versions-git
  files/build/versions/dockers/sonic-slave-buster/versions-py3
  files/build/versions/dockers/sonic-slave-stretch/versions-git
  files/build/versions/host-image/versions-deb-buster
  files/build/versions/host-image/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

export MIRROR_SNAPSHOT
  Makefile.work
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Update
  Makefile.work
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/default/versions-mirror
Due: .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-web
  files/build/versions/build/build-sonic-slave-buster/versions-web
  files/build/versions/default/versions-mirror
Due: .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Clear teamd-timer when finalizing fast-reboot
  files/image_config/warmboot-finalizer/finalize-warmboot.sh
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

update v2 modules
  platform/broadcom/sonic-platform-modules-cel/silverstone-v2/modules/Makefile
  platform/broadcom/sonic-platform-modules-cel/silverstone-v2/modules/baseboard_cpld.c
  platform/broadcom/sonic-platform-modules-cel/silverstone-v2/modules/fpga_device.c
  platform/broadcom/sonic-platform-modules-cel/silverstone-v2/modules/fpga_i2c_ocores_no_polling.c
  platform/broadcom/sonic-platform-modules-cel/silverstone-v2/modules/max31730.c
  platform/broadcom/sonic-platform-modules-cel/silverstone-v2/modules/mc24lc64t.c
  platform/broadcom/sonic-platform-modules-cel/silverstone-v2/modules/mp2975.c
  platform/broadcom/sonic-platform-modules-cel/silverstone-v2/modules/optoe.c
  platform/broadcom/sonic-platform-modules-cel/silverstone-v2/modules/optoe_device.c
  platform/broadcom/sonic-platform-modules-cel/silverstone-v2/modules/pca954x.h
  platform/broadcom/sonic-platform-modules-cel/silverstone-v2/modules/pddf_custom_fpga_algo.c
  platform/broadcom/sonic-platform-modules-cel/silverstone-v2/modules/platform_fan.c
  platform/broadcom/sonic-platform-modules-cel/silverstone-v2/modules/platform_psu.c
  platform/broadcom/sonic-platform-modules-cel/silverstone-v2/modules/pmbus.h
  platform/broadcom/sonic-platform-modules-cel/silverstone-v2/modules/pmbus.h-bk
  platform/broadcom/sonic-platform-modules-cel/silverstone-v2/modules/switchboard_fpga.c
  platform/broadcom/sonic-platform-modules-cel/silverstone-v2/modules/tps536c7.c
  platform/broadcom/sonic-platform-modules-cel/silverstone-v2/modules/ucd90120.c
  platform/broadcom/sonic-platform-modules-cel/silverstone-v2/modules/ucd90160.c
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Update pddf-device.json
  device/celestica/x86_64-cel_silverstone_v2-r0/pddf/pddf-device.json
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[Edgecore][device][platform] Update sensors' low and critical_low threshold value
  platform/broadcom/sonic-platform-modules-accton/as9736-64d/sonic_platform/thermal.py
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Optimize the version control for debian packages
  src/sonic-build-hooks/scripts/buildinfo_base.sh
Due: .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Fix sonic-slave-buster/sources.list.amd64 not found issue
  scripts/prepare_docker_buildinfo.sh
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Fix variable not exposed issue
  Makefile.work
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

recover pipelines Signed-off-by: pettershao-ragilenetworks <pettershao@ragilenetworks.com>
  .azure-pipelines/azure-pipelines-image-template.yml
  azure-pipelines.yml
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

build failure fixes
  src/sonic-yang-models/yang-models/sonic-vlan.yang
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions
  files/build/versions/build/build-sonic-slave-bullseye/versions-deb-bullseye
  files/build/versions/default/versions-mirror
  files/build/versions/dockers/docker-config-engine-buster/versions-py3
  files/build/versions/dockers/sonic-slave-buster/versions-py3
Due: .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[build] Fix reproducible build version issue when failed to download web file
  src/sonic-build-hooks/scripts/buildinfo_base.sh
Due: .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

fix
  src/sonic-build-hooks/scripts/buildinfo_base.sh
Due: .azure-pipelines/docker-sonic-slave.yml, .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[secure boot]Fix mokutil check issue with ONIE version older than 2021.11 by using efivar tool instead
  installer/default_platform.conf
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Test redis 4.3.6
  .gitmodules
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

[Security] Fix the redis security issue CVE-2023-28858
  .gitmodules
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Check for ifname presence in static route attribute
  files/build_templates/arp_update_vars.j2
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Build fixes
  src/sonic-yang-models/yang-models/sonic-vlan.yang
Due: .pipelines/OneBranch.PullRequest.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-mgmt.yml: any of: dockers/docker-sonic-mgmt
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, src/sonic-build-hooks, files/build/versions
  .pipelines/OneBranch.PullRequest.yml: any file but: .github
  azure-pipelines.yml: any file but: .github
